<template name="list<%= name%>s">
  <h1><%= name %>s List</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Fuel Type</th>
        <th>Body Style</th>
        <th>Top Speed</th>
        <th>Power</th>
        <th>Value</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      {{#each <%= lowerCase %>s}}
        <tr>
          <td>{{brand}}</td>
          <td>{{model}}</td>
          <td>{{fueltype}}</td>
          <td>{{bodystyle}}</td>
          <td>{{topspeed}}</td>
          <td>{{power}}</td>
          <td>{{value}}</td>
          <td>{{#linkTo route='edit<%= name %>s'}}<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>{{/linkTo}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>